<div ng-include="'partials/search_buttons.html'"></div>


<div class="container" id="container" ng-model="viewButtons" >

	<div id="movingBallG" ng-show="loading==true">
		<div class="movingBallLineG"></div>
		<div id="movingBallG_1" class="movingBallG"></div>
	</div>
	<!--------Cards View-------------->
	<section id="nofilter" ng-  class="stage">

		<div class="row sources" ng-hide="loading==true" id="unfiltered" ng-hide="loading==true" id="row">
			 <div  ng-repeat="item in adder.sources  track by $index">
				<ca-rd class="sources" ng-show="item.show==true">
					<dl resize-card  class="col-md-3 new">
						<dt class="card-text"  class="sources" >
							<dd>
								<label>Name:</label>
								<input type="text" ng-model="item.name" ng-blur="createParserClass(item)" placeholder="Name" value="{{item.name}}"/>
							</dd>
							<dd class="sources">
								<label>Id:</label> {{item.id}}
							</dd>
							<dd  class="sources">
								<label>Feed Url:</label><input type="text" ng-model="item.feed_url" placeholder="Feed Url" ng-model="item.feed_url"  value="{{item.feed_url}}" ng-blur="createDomain(item.feed_url, item)"  ng-change="checkInput(item.feed_url, $index,adder.sources)" ng-delay="700"/><span class="red" ng-hide="item.httpThere==true">*Please add a properly formatted url.</span>
							</dd>
							<dd  class="sources">
								<label>Domain:</label> <input type="text" ng-model="item.domain"  placeholder="Domain" value=""/>
							</dd>
							<dd  class="sources">
								
								<label>Parser Class:</label> <input type="text" ng-model="item.parser_class" placeholder="Parser Class" value="Parser"/>
							</dd>
							<dd  class="sources">
								<label>CDN-Domains:</label> <input type="text" ng-model="item.cdn_domains" placeholder="CDN-Domains" value="{{item.cdn_domains.toString()}}"/>
							</dd>
							<dd  class="whitelist" ng-click="changeCheck('whitelist', $index, adder.sources)">
								<label>Whitelist</label>
								
								<span class="icon-checkbox-unchecked blue" ng-hide="item.whitelist==true" ng-model="item.whitelist"></span>
								<span class="icon-checkbox-checked blue" ng-hide="item.whitelist==false"  ng-model="item.whitelist"></span>
								<!--<input type="text" placeholder="Whitelist" pattern="true|True|false|False|T|F" value="{{item.whitelist}}"/>-->
							</dd>
							<dd class="card-button">
							<span class="icon-floppy-disk"  ng-click="savItem($index, 'new');"></span>
								<span class="icon-cancel-circle" ng-click="close($index)"></span>
							</dd>
						</dt>

					</dl>
				</div>
			<div class="clear"></div>
			<div  ng-repeat ="item in data.active">

				<ca-rd class="sources">
					<dl resize-card  class="col-md-3 {{item.color}}" ng-hide="item.Edit==true">
						<dt  class="card-text">
							<dd>
								Name: {{item.name}}
							</dd>
							<dd>
								ID: {{item.id}}
							</dd>
							<dd>
								Feed URL: <a href="{{item.feed_url}}" target="_blank">{{item.feed_url}}</a>
							</dd>
							<dd>
								Domain: {{item.domain}}
							</dd>
							<dd>
								Parser-Class: {{item.parser_class}}
							</dd>
							<dd>
								CDN-Domains: {{item.cdn_domains.toString();}}
							</dd>
							<dd>
								Whitelist: 
								{{item.whitelist}}
							</dd>
							<dd class="card-button" >
								<span class="icon-pencil" ng-click="editItem($index)"></span>
								<span class="icon-bin" ng-click="deleteItem($index)"></span>
						
							</dd>
						</dt>
					</dl>
					<dl resize-card  class="col-md-3 {{item.color}}"  ng-show="item.Edit==true">
						<dt class="card-text"  class="sources" >
							<dd  ng-show="item.Edit==true;" class="sources">
								<label>Name:</label>
								<input type="text" ng-model="item.name" ng-blur="createParserClass(item)" placeholder="Name" value="{{item.name}}"/>
							</dd>
							<dd ng-show="item.Edit==true;" class="sources">
								<label>Id:</label> {{item.id}}
							</dd>
							<dd  ng-show="item.Edit==true;"  class="sources">
								<label>Feed Url:</label><input type="text" ng-model="item.feed_url" placeholder="Feed Url" ng-model="item.feed_url" ng-change="checkInput(item.feed_url, $index, data.active)" value="{{item.feed_url}}" ng-blur="createDomain(item.feed_url, item)"  />
								<span class="red" ng-hide="item.httpThere==true">*Please add a properly formatted url.</span>
							</dd>
							<dd  class="sources">
								<label>Domain:</label> <input type="text" ng-model="item.domain" placeholder="Domain" value="{{item.domain}}"/>
							</dd>
							<dd  class="sources">
								<label>Parser Class:</label> <input type="text" ng-model="item.parser_class" placeholder="Parser Class" value="{{item.parser_class}}"/>
							</dd>
							<dd  class="sources">
								<label>CDN-Domains:</label> <input type="text" ng-model="item.cdn_domains" placeholder="CDN-Domains" value="{{item.cdn_domains.toString()}}"/>
							</dd>
							<dd  class="whitelist" ng-click="changeCheck('whitelist', $index, data.active)">
								<label>Whitelist</label>
								
								<span class="icon-checkbox-unchecked blue" ng-hide="item.whitelist==true" ng-model="item.whitelist"></span>
								<span class="icon-checkbox-checked blue" ng-hide="item.whitelist==false"  ng-model="item.whitelist"></span>
								<!--<input type="text" placeholder="Whitelist" pattern="true|True|false|False|T|F" value="{{item.whitelist}}"/>-->
							</dd>
							<dd class="card-button">
								<span class="icon-floppy-disk" ng-click="savItem($index)"></span>
								<span class="icon-cancel-circle" ng-click="noEdit($index, item.id)"></span>
						
							</dd>
						</dt>

					</dl>
				</ca-rd>
			</div>

		</div>
	</section>

</div>

<div class="clear"></div>