<div ng-include="'partials/search_buttons.html'"></div>

<div class="container" ng-model="viewButtons" >

	<div id="movingBallG" ng-show="loading==true">
		<div class="movingBallLineG"></div>
		<div id="movingBallG_1" class="movingBallG"></div>
	</div>
	<!--------Cards View-------------->
	<section id="nofilter" ng- class="stage">

		<div class="row sources" ng-hide="loading==true" id="unfiltered" ng-hide="loading==true" >

			<div  ng-repeat ="item in data.active">

				<ca-rd  class="contexts">
					<dl resize-card  class="col-md-3 {{item.color}}" ng-hide="item.Edit==true" class="card-text">
						<dt>
							<dd >
								Id: {{item.id}}
							</dd>
							<dd>
								Name: {{item.name}}
							</dd>
							<dd>
								Feed URL:{{item.feed_url}}
							</dd>
							<dd>
								Publication:{{item.publication}}
							</dd>
							<dd>
								Domain: {{item.domain}}
							</dd>
							<dd>
								Parser-Class: {{item.parser_class}}
							</dd>
							<dd>
								Pas: {{item.pas}}
							</dd>
							<dd>
								Pas-Std: {{item.pas_std}}
							</dd>
							<dd>
								Twitter-Handle: {{item.twitter_handle}}
							</dd>
							<dd>
								Article Whitelist: {{item.article_whitelist}}
							</dd>
							<dd>
								Twitter-Whitelist: {{item.twitter_whitelist}}
							</dd>
							<dd>
								CDN-Domains: {{item.cdn_domains.toString()}}
							</dd>
							<dd class="card-button" >
								<span class="icon-pencil2" ng-click="item.Edit=true"></span>
								<span class="icon-bin2"></span>
							</dd>
						</dt>
					</dl>
					<dl resize-card  class="col-md-3 {{item.color}}" ng-show="item.Edit==true">
						<dt  class="card-text"  class="sources" >
							<dd>
								Id:{{item.id}}
							</dd>
							<dd ng-show="item.Edit==true;" class="sources">
								<input type="text" placeholder="Name" value="{{item.name}}"/>
							</dd>
							<dd  class="sources">
								<input type="text" placeholder="Feed Url" pattern="http" value="{{item.feed_url}}"/>
							</dd>
							<dd ng-show="item.Edit==true" class="contexts">
								<input type="text" placeholder="Publication" value="{{item.publication}}"/>
							</dd>
							<dd ng-show="item.Edit==true" class="contexts">
								<input type="text" placeholder="Domain" value="{{item.domain}}"/>
							</dd>
							<dd ng-show="item.Edit==true" class="contexts">
								<input type="text" placeholder="Parser Class" value="{{item.parser_class}}"/>
							</dd>
							<dd ng-show="item.Edit==true" class="contexts">
								<input type="text" placeholder="Pas" value="{{item.pas}}"/>
							</dd>
							<dd ng-show="item.Edit==true" class="contexts">
								<input type="text" placeholder="Pas Sdd" value="{{item.pas_std}}"/>
							</dd>
							<dd ng-show="item.Edit==true" class="contexts">
								<input type="text" placeholder="Pas Sdd" value="{{item.twitter_handle}}"/>
							</dd>
							<dd ng-show="item.Edit==true" class="contexts ">
								<input type="text" placeholder="Whitelist" pattern="true|True|false|False|T|F" value="{{item.article_whitelist}}"/>
							</dd>
							<dd ng-show="item.Edit==true" class="contexts ">
								<input type="text" placeholder="Whitelist" pattern="true|True|false|False|T|F" value="{{item.twitter_whitelist}}"/>
							</dd>
							<dd ng-show="item.Edit==true" class="whitelist">
								<input type="text" placeholder="CDN-Domains" value="{{item.cdn_domains.toString()}}"/>
							</dd>
							<dd class="card-button">
								<span class="icon-floppy-disk"></span>
								<span class="icon-cancel-circle" ng-click="item.Edit=false"></span>
							</dd>
						</dt>
					</dl>

				</ca-rd>
			</div>

		</div>
	</section>

</div>

<div class="clear"></div>