<div ng-show="isLoadding==true" class="feature-big-loader"></div>

<div class="stage_container_feature" >	
	<div feature-image-big="https://teacheratsea.files.wordpress.com/2015/03/img_2390.jpg" color='0, 87, 165' blend='difference' alpha='.3'>
	</div>
</div>
<section class="stage">
	<div class="container">
		
		<article bottom-postion  >
			<span class="{{chevron.classy}} yellow scroll" state="{{chevron.state}}"  ng-click ="controlChevron()"  scroll></span>
			<h2 class="yellow">Fashion axe Helvetica letterpress</h2>
			<div class="clear"></div>
			<h4>Fashion axe Helvetica letterpress, aesthetic Truffaut Tumblr Williamsburg Wes Anderson literally put a bird on it flexitarian. Deep v Wes Anderson Banksy, food truck selvage lomo selfies. </h4>
				<!--Need to watch the Window Height and adjust as window Height is changed - see TAS Main site (Carousels, BigImages, etc)-->
				<section class="main" section-height >
				<p>Fashion axe Helvetica letterpress, aesthetic Truffaut Tumblr Williamsburg Wes Anderson literally put a bird on it flexitarian. Deep v Wes Anderson Banksy, food truck selvage lomo selfies. Dolore Bushwick kogi single-origin coffee, cred disrupt you probably haven't heard of them selvage try-hard consectetur tofu meggings. Bitters trust fund lo-fi, aliqua elit laborum nulla vinyl adipisicing sriracha odio messenger bag Blue Bottle. Anim viral banjo, locavore swag single-origin coffee enim Williamsburg heirloom adipisicing lomo. Duis Vice selfies, delectus non mixtape retro. Four dollar toast trust fund et, biodiesel you probably haven't heard of them laboris nesciunt quis sriracha keytar Echo Park.</p>

<p>Narwhal est delectus, aute taxidermy fashion axe drinking vinegar Williamsburg PBR&B. Tattooed meh irony fashion axe. Pitchfork freegan 3 wolf moon normcore readymade pug. Beard whatever id, officia twee tattooed viral mollit vero polaroid quinoa irure cornhole. Dolore cred nisi, four dollar toast normcore vero kitsch beard McSweeney's Schlitz cray direct trade sapiente Helvetica forage. Small batch seitan sapiente PBR&B, fap umami literally skateboard whatever PBR irony mumblecore Brooklyn Thundercats roof party. Pitchfork labore adipisicing farm-to-table butcher, cold-pressed letterpress fanny pack ad Brooklyn lumbersexual bicycle rights whatever next level seitan.</p>

<p>Deep v Thundercats heirloom laborum Brooklyn, hoodie nisi et Schlitz aesthetic eu lumbersexual listicle kogi roof party. Tattooed chambray banh mi raw denim veniam nesciunt. Paleo authentic 3 wolf moon bespoke vegan, aesthetic meh before they sold out hella cred four loko fashion axe Brooklyn listicle. Tattooed ennui Odd Future in art party aesthetic. XOXO art party assumenda, eu occupy tousled mollit. Enim Intelligentsia dolor whatever, migas Etsy slow-carb. Selvage fixie mlkshk, YOLO cray delectus vero veniam.</p>
<p>Fashion axe Helvetica letterpress, aesthetic Truffaut Tumblr Williamsburg Wes Anderson literally put a bird on it flexitarian. Deep v Wes Anderson Banksy, food truck selvage lomo selfies. Dolore Bushwick kogi single-origin coffee, cred disrupt you probably haven't heard of them selvage try-hard consectetur tofu meggings. Bitters trust fund lo-fi, aliqua elit laborum nulla vinyl adipisicing sriracha odio messenger bag Blue Bottle. Anim viral banjo, locavore swag single-origin coffee enim Williamsburg heirloom adipisicing lomo. Duis Vice selfies, delectus non mixtape retro. Four dollar toast trust fund et, biodiesel you probably haven't heard of them laboris nesciunt quis sriracha keytar Echo Park.</p>

<p>Narwhal est delectus, aute taxidermy fashion axe drinking vinegar Williamsburg PBR&B. Tattooed meh irony fashion axe. Pitchfork freegan 3 wolf moon normcore readymade pug. Beard whatever id, officia twee tattooed viral mollit vero polaroid quinoa irure cornhole. Dolore cred nisi, four dollar toast normcore vero kitsch beard McSweeney's Schlitz cray direct trade sapiente Helvetica forage. Small batch seitan sapiente PBR&B, fap umami literally skateboard whatever PBR irony mumblecore Brooklyn Thundercats roof party. Pitchfork labore adipisicing farm-to-table butcher, cold-pressed letterpress fanny pack ad Brooklyn lumbersexual bicycle rights whatever next level seitan.</p>

<p>Deep v Thundercats heirloom laborum Brooklyn, hoodie nisi et Schlitz aesthetic eu lumbersexual listicle kogi roof party. Tattooed chambray banh mi raw denim veniam nesciunt. Paleo authentic 3 wolf moon bespoke vegan, aesthetic meh before they sold out hella cred four loko fashion axe Brooklyn listicle. Tattooed ennui Odd Future in art party aesthetic. XOXO art party assumenda, eu occupy tousled mollit. Enim Intelligentsia dolor whatever, migas Etsy slow-carb. Selvage fixie mlkshk, YOLO cray delectus vero veniam.</p>
	</section>
		</article>
	</div>
</section>	


