
<nav class="navigation_holder" >
	<div class="settings" ng-click="controlSubNav()" >
		<span class="icon-cog"></span>
	</div>
		
		<ul class="checker" ng-hide="">
			<li>
				<div class="checkbox {{allchecked}}" ng-click="changeNavCheck('all', allchecked, on_off)">
						<span class="icon-checkbox-unchecked top"></span>
				</div>
				
			</li>
			<li ng-hide="noSubNav==true" ng-repeat="item in items.years[0].subNav" on_off="{{item.on_off}}" year="{{item.year}}" ng-click="changeNavCheck(item.type, item.checked, item.on_off)">
				<div class="checkbox {{item.checked}}" test="{{item.checked}}">
						<span class="icon-checkbox-unchecked {{item.color}}"></span>
						
				</div>
				
			</li>
					</ul>

	<div class="navigation" style="width:83%" >
		<div style="width:{{yearsWidth}}px;" id="nav">
			<ul class="nav_ul">
				
				<li  width={{listwidth}} ng-repeat = "item in items.years" class="{{item.state}} " >
					
					<div class="{{item.color}}">
						<span class="item" ng-click = "changeNavClass(item)" ng-enter = "changeNavClass(item)">{{item.year}}</span>
					</div>
					<nav class="subnav" ng-hide="noSubNav==true" nav-height >
						<ul>
							<li  ng-repeat="subNav in item.subNav" ng-click="changeNavClass(item, subNav)" class="{{subNav.state}}">
								<div>
									<span class="{{subNav.classy}}"></span>
								</div>
							</li>
							
							
						</ul>
					</nav>
				</li>
				<div class="clear"></div>
			</ul>

		</div>
			
	</div>
	
	<div class="clear"></div>
</nav>
